<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%- title %></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <main class="content">
      <%- include(template, {
        title: title,
        date: date,
        content: content
      }); %>
    </main>
  </body>
</html>
